<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <style>
      body {background-color: black}
      h1 {
        color: beige;
        font-style: italic;
        font-family: serif;
        font-size: 120px;
        text-align: center;
      }
      a {
        margin: 566px;
        font-size: 30px;
        color: darkslategrey;
      }
      }
    </style>
  </head>
  <body>
    <h1>Home</h1>
    <a href="/users/list">List Users</a><br>
    <a href="/users/add">Add Users</a><br>
    <a href="/users/search">Search for Users</a><br>
  </body>
</html>
