<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Header</title>
  </head>
  <body>
    <a href="/users/list">List Users</a>
    <a href="/users/add">Add Users</a>
    <a href="/users/search">search for Users</a>
